@charset "UTF-8";
/* CSS Document */

#backdrop {
	background-image: url(earth.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: static;
}

#wrapper{
	background-color: rgba( 76, 46, 140, .7);
	margin: auto;
	width: 935px;
	min-height: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	webkit-border-radius: 15px 15px 15px 15px;
	moz-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

#banner {
	border: 5px inset #D9145C;
	background-image: url(banner.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 925px;
	height: 300px;
	webkit-border-radius: 15px 15px 15px 0px;
	moz-border-radius: 15px 15px 15px 0px;
	border-radius: 15px 15px 15px 0px;
}

#planetList {
	float: left;
	width: 130px;
	background-color: #D9145C;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #F2AB27;
	text-shadow: 1px 1px #F2811D;
	padding-bottom: 15px;
	padding-left: 10px;
}

#main {
	width: 485px;
	float: left;
	margin: 10px 10px 10px 5px;
	color: #F2AB27;
	text-shadow: 1px 1px #D9145C;
}

#animation {
	float: right;
	background-color: #FFFFFF;
	webkit-border-radius: 15px 15px 15px 15px;
	moz-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	width: 280px;
}

#footer {
	clear: both;
	background-color: #4C2E8C;
	color: #FFC;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#planetPick {
	text-align: center;
	color: #04B2D9;
	font-family: Verdana, Geneva, sans-serif;
	font-style: oblique;
	text-shadow: 2px 2px #4C2E8C;
}

h1#title {
	font-family: Tahoma, Geneva, sans-serif;
	font-style: oblique;
	font-variant: small-caps;
	text-shadow: 5px 5px rgba( 242, 129, 29, .7);
	color: #D9145C;
	font-size: 54px;
	text-align: center;
}

#calc {
	padding: 0px 200px 20px 200px;
}

#question {
	color: #F2AB27;
	text-shadow: 1px 1px #D9145C;
	padding: 20px 50px 20px 50px;
}